align
	@include flex-downwards
	justify-content: center
	align-items: center
	text-align: center
	& > *
		flex: 0 0 auto

/* TODO: add align spacing
*/

[text-align='left']
	text-align: left
[text-align='center']
	text-align: center
[text-align='right']
	text-align: right
[text-align='justify']
	text-align: justify
