align {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
align > * {
	flex-grow: 0;
	flex-shrink: 0;
}

/* see flex.css */

/* TODO: add align spacing
*/

[upward][up] {
	justify-content: flex-end;
}
[upward][down] {
	justify-content: flex-start;
}
[upward][left] {
	align-items: flex-end;
}
[upward][right] {
	align-items: flex-start;
}

[downward][up],
align[up] {
	justify-content: flex-start;
}
[downward][down],
align[down] {
	justify-content: flex-end;
}
[downward][left],
align[left] {
	align-items: flex-start;
}
[downward][right],
align[right] {
	align-items: flex-end;
}

[leftward][up] {
	align-items: flex-end;
}
[leftward][down] {
	align-items: flex-start;
}
[leftward][left] {
	justify-content: flex-end;
}
[leftward][right] {
	justify-content: flex-start;
}

[rightward][up] {
	align-items: flex-end;
}
[rightward][down] {
	align-items: flex-start;
}
[rightward][left] {
	justify-content: flex-end;
}
[rightward][right] {
	justify-content: flex-start;
}

[text-align-left] {
	text-align: left;
}
[text-align-center] {
	text-align: center;
}
[text-align-right] {
	text-align: right;
}
