flex {
	display: inline-flex;
	flex-direction: row;
}
flex > * {
	flex-grow: 1;
	flex-shrink: 1;
}

[upward] {
	flex-direction: column-reverse;
}
[downward] {
	flex-direction: column;
}
[leftward] {
	flex-direction: row-reverse;
}
[rightward] {
	flex-direction: row;
}

[no-grow] {
	flex-grow: 0;
}
[no-shrink] {
	flex-shrink: 0;
}
[no-flex] {
	flex-grow: 0;
	flex-shrink: 0;
}

[f-5] {
	flex: 5;
}
[f-6] {
	flex: 6;
}
[f-10] {
	flex: 10;
}
[f-12] {
	flex: 12;
}
[f-15] {
	flex: 15;
}
[f-20] {
	flex: 20;
}
[f-30] {
	flex: 30;
}

[f-120] {
	flex: 120;
}
[f-180] {
	flex: 180;
}
[f-240] {
	flex: 240;
}
[f-300] {
	flex: 300;
}
[f-360] {
	flex: 360;
}
[f-600] {
	flex: 600;
}
[f-720] {
	flex: 720;
}
