/* layout */
stack {
	position: relative;
}
stack > * {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/* style */
stack > * {
	pointer-events: none;
}
/*stack > *:first-child,*/
* {
	pointer-events: auto;
}
