wide,
[wide]
	width: 100%

tall,
[tall]
	height: 100%

full,
[full]
	size: 100%


@for $b from 1 to $DEPTH
	@for $a from 1 to $b
		/*
		[width="$a.$b"]
			width: resolve($a/$b)
		*/
		@include percentage(width)
		@include percentage(height)
		@include percentage(size)
