wide,
[wide]
	width: 100%

tall,
[tall]
	height: 100%

full,
[full]
	size: 100%


@for $b from 1 to $DEPTH
	@for $a from 1 to $b
		[width="$a/$b"]
			width: percentage($a/$b)
		[height="$a/$b"]
			height: percentage($a/$b)
		[size="$a/$b"]
			size: percentage($a/$b)
